section#about {
  padding-top: 50px;
  padding-bottom: 200px;
  div#thumbnailDiv {
    display: block;
    margin: auto;
    margin-bottom: 65px;
    margin-top: 2rem;
    width: 250px;
    height: 250px;
    background: url('../images/LouieSm.jpg');
    border-radius: 50%;
    border: solid 3px $white;
    z-index: 4;
  }
  div.wrapper {
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    div.resumeBody1 {
      background-color: $blue-green;
      color: $dark-blue;
      border-right: 3px solid currentColor;
      padding: 32px 32px 64px 32px;
      div.resumeSkills {
        padding: 10px;
        h2 {
          display: block;
          font-size: 1.5rem;
        }
        ul {
          padding-left: 32px;
          li {
            display: list-item;
            list-style-type: square;
            padding: 0.2rem 0;
          }
        }
      }
    }
    a {
      background-color: $dark-blue;
      color: $white;
      display: block;
      padding: 0.5rem 1rem;
      border: 0;
      border-radius: 3px;
      margin: 2rem 0;
      text-decoration: none;
      text-align: center;
      align-items: center;
      font-size: 1rem;
      justify-content: center;
      max-width: 250px;
      width: auto;
      transition: all 0.5s;
      &:hover {
        color: $dark-blue;
        background-color: $white;
        letter-spacing: 0.2rem;
        font-weight: bold;
      }
      &.btn-resume {
        display: flex;
        flex-direction: column;
      }

      i {
        font-weight: 900;
        font-size: 2rem;
      }
    }
  }
  div.resumeBody2 {
    background-color: $white;
    color: $dark-blue;
    padding: 32px 32px 64px 32px;

    div.resumeAbout {
      padding: 10px;
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
      }
      ul {
        li {
          list-style: square;
          padding: 0.2rem 0;
        }
      }
    }
    div.educationContainer {
      padding: 10px;
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
      }
      ul {
        li {
          list-style: square;
          padding: 0.2rem 0;
        }
      }
    }
  }
}
