@media (max-width: 559px) {
  .g-recaptcha {
    div {
      width: 100% !important;
    }
  }
}
@media (max-width: 687px) {
  .hide-sm {
    display: none;
  }

  .container {
    margin-top: 8rem;
  }

  // Text Styles
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  section {
    &#about {
      padding-top: 80px;

      div#thumbnailDiv {
        display: block;
        margin: auto;
        margin-bottom: 65px;
        margin-top: 5rem;
        border: solid 2px $white;
        background: url("../images/LouieXSm.jpg");
        width: 145px;
        height: 145px;
      }

      div.wrapper {
        padding-bottom: 10px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div.resumeBody1 {
          width: 100%;
          background-color: $blue-green;
          color: $dark-blue;
          border-right: none;
          border-bottom: 4px solid currentColor;
          padding: 32px 32px 64px 32px;
        }
      }
    }

    &#work {
      div.card {
        div.items {
          flex-direction: column;
        }
      }
    }

    &#contact {
      div.contact {
        div.card {
          flex-direction: column;

          height: 750px;
        }
        form.contactForm {
          div.fields {
            display: flex;
            justify-content: center;
            div.field-half {
              padding: 5px 0;
            }
            div.field {
              margin: 0 auto;
              padding: 5px 0;
            }
          }
          div.field {
            input#submitBtn {
              margin: auto;
            }
          }
        }
      }
      div.contact-information {
        padding-top: 2rem;
        padding-bottom: 0;
        &-icons {
          justify-content: space-evenly;
          margin-bottom: 0;
          a {
            .contactIcons {
              width: 2.5rem;
            }
          }
        }
        .contact-info {
          address {
            font-size: 1rem;
          }
          a.resumeParagraph {
            font-size: 1rem;
          }
          p.resumeParagraph {
            font-size: 1rem;
          }
        }
      }
    }
  }

  // Navbar
  .navbar {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 110px;
    background: rgba(0, 0, 0, 1);

    div {
      display: flex;
      width: 100%;
      padding: 0;
      justify-items: center;
      align-items: center;
      h2 {
        display: flex;
        width: 100%;
        height: 100%;
        margin: auto;
        justify-content: center;
      }
    }
    ul {
      padding-left: 0;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 688px) and (max-width: 752px) {
  section {
    &#work {
      div.card {
        div.items {
          flex-direction: row;
          div.item {
            display: block;
            flex: auto;
            width: 50%;
          }
        }
      }
    }
    &#contact {
      .contact-info {
        address {
          font-size: 1rem;
        }
        a.resumeParagraph {
          font-size: 1rem;
        }
        p.resumeParagraph {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 806px) {
  .navbar {
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      width: 100%;
      li {
        margin: 0 0.5rem;
        padding: 0.5rem 1rem;
        list-style: none;
        display: flex;
        justify-content: center;
        a {
          margin: auto 0;
        }
      }
    }
  }
}
