@import 'config';
@import 'about';
@import 'work';
@import 'contact';

// CSS Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/54946/das-sasha-24274-unsplash.jpg);
  background-size: cover;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: $white;
  line-height: 1.6;
}

// NAVBAR STYLES
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 60px;
  z-index: 5;
  background: #000;
  border-bottom: 3px solid $white;
  div {
    padding-left: 32px;
    h2 {
      min-width: 292px;
      height: 100%;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 12px;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    padding-left: 32px;
    li {
      margin: 0 2rem;
      padding: 1rem;
      list-style: none;
      a {
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s;
        color: $white;
        &:hover {
          color: $blue-green;
          font-weight: bold;
          letter-spacing: 0.2rem;
        }
      }
    }
  }
}

main {
  // background-color: rgba(54, 63, 80, 0.8);
  padding: 65px 20px 20px 20px;
  max-width: 1080px;
  margin: 0 auto;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: auto;
  }
  &:not(:first-child) {
    padding-top: 0 !important;
  }
  &:last-child {
    padding-bottom: 0 !important;
  }
}

header {
  color: $white;
  padding: 30px;
  width: 50%;
  min-width: 290px;
  margin-right: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
  &:before {
    content: '';
    background-color: $dark-blue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &:after {
    content: '';
    background-color: $blue-green;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: -2;
  }
  h2 {
    font-size: 4rem;
    line-height: 1;
    font-weight: bold;
  }
  h3 {
    font-size: 1.17rem;
    font-weight: 100;
    min-height: 58px;
  }
}

@import 'mobile';
