section:not(:first-child) {
  padding-top: 0 !important;
}

section:last-child {
  padding-bottom: 0 !important;
}

form {
  min-width: 50%;
}

form input,
form textarea {
  border: 2px solid #18212a;
  padding: 10px;
}

hr {
  max-width: 250px;
  border-color: transparent;
  border-bottom: 2px dashed #18212a;
  margin: 20px 0;
}

/****
		Components - larger blocks with smaller pieces inside the blocks
	****/
.navbar {
  z-index: 100000000;
  border-bottom: 3px solid #fff;
}

.navbar ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: #7affd2;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-top: auto;
}

.items .item {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 15px;
  text-align: center;
}

.items .item-title {
  color: #18212a;
  margin-bottom: 1rem;
}

.items .item-btn {
  color: white;
  text-decoration: none;
}

.items .item-btn i {
  color: inherit;
}

.card {
  padding: 20px;
  background-color: #7affd2;
}

.card-header {
  color: #fcfcfc;
  padding: 30px;
  width: 50%;
  margin-right: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 10000;
}

.card-header:before {
  content: "";
  background-color: #18212a;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card-header:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #7affd2;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: -2;
}

.card-header h3 {
  font-weight: 100;
}

.contact-information {
  min-width: 50%;
  height: 136px;
  margin: auto;
  color: #18212a;
  text-align: center;
}

.contact-information-icons {
  margin-bottom: 2rem;
}

.contact-information-icons a {
  text-decoration: none;
}

/****
		Partials - smaller pieces and or one offs. I would generally avoid one offs.
	****/
#thumbnailDiv {
  border-color: #fff;
}

.resumeBody1 {
  background-color: #7affd2;
  border-right: 3px solid currentColor;
}

.title {
  font-size: 4em;
  line-height: 1;
}

.resumeBody2 {
  background-color: #fff;
  color: #18212a;
}

.btn {
  background: #18212a;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  text-align: center !important;
  font-size: 16px;
  width: auto !important;
}

.btn-resume {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 250px;
}

.fa-download {
  color: #fff;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */