.resumeHeader {
  background-color: #18212A;
  color: #fcfcfc;
  grid-area: header;
  padding: 10px;
}

.resumeBody1 {
  background-color: #3E968A;
  color: #18212A;
  grid-area: left;
  padding: 32px 32px 64px 32px;
}

.resumeBody2 {
  background-color: #4F5356;
  color: rgb(221, 221, 221);
  grid-area: right;
  padding: 32px 32px 64px 32px;
}

#jobTitleH2 {
  padding: 0 32px 12px 64px;
}

.resumeConactContainer {
    padding: 5px;
}
.resumeSkills {
    padding: 5px;
}
.resumeAbout {
    padding: 10px;
}
.educationContainer {
    padding: 10px;
}

/* Mobile */
@media (max-width: 640px) {
  .header {
    flex: 100%;
  }
  .aside-1 {
    flex: 30%;
  }
  .aside-2 {
    flex: 70%;
  }
}

/* Tablets */
@media screen and (min-width: 641px) and (max-width: 768px) {
  .header {
    flex: 100%;
  }
  .aside-1 {
    flex: 30%;
  }
  .aside-2 {
    flex: 70%;
  }
}

/* Desktop */
@media screen and (min-width: 769px) {
  .header {
    flex: 100%;
  }
  .aside-1 {
    flex: 30%;
  }
  .aside-2 {
    flex: 70%;
  }
}
