.resumeHeader {
    background-color: #363636;
    color: #FCFCFC
}

.resumeBody1 {
    background-color: #CDDFD3;
    color: #363636;
}

.resumeBody2 {
    background-color: #FCFCFC;
    color: #363636;
}