/* Mobile */
@media screen and (max-width: 580px) {
  .item-1 {
    flex: 100%;
    padding: 10px 0;
  }
  .item-2 {
    flex: 100%;
    padding: 10px 0;
  }
  .item-3 {
    flex: 100%;
    padding: 10px 0;
  }
  .item-4 {
    flex: 100%;
    padding: 10px 0;
  }
  .item-5 {
    flex: 100%;
  }
  .item-6 {
    flex: 100%;
  }
  .item-7 {
    flex: 100%;
  }
  .item-8 {
    flex: 100%;
  }
}

/* Tablets */
@media screen and (min-width: 688px) and (max-width: 1029px) {
  .item-1 {
    flex: 50%;
    padding-right: 10px;
  }
  .item-2 {
    flex: 50%;
    padding-left: 10px;
  }
  .item-3 {
    flex: 50%;
    padding-right: 10px;
  }
  .item-4 {
    flex: 50%;
    padding-left: 10px;
  }
  .item-5 {
    flex: 50%;
  }
  .item-6 {
    flex: 50%;
  }
  .item-7 {
    flex: 50%;
  }
  .item-8 {
    flex: 50%;
  }
}

/* Desktop */
@media screen and (min-width: 1030px) {
  .item-1 {
    
    flex: 25%;
    padding-right: 20px;
  }
  .item-2 {
    
    flex: 25%;
    padding-right: 20px;
  }
  .item-3 {
    
    flex: 25%;
    padding-right: 20px;
  }
  .item-4 {
    
    flex: 25%;
    padding-right: 20px;
  }
  .item-5 {
    
    flex: 25%;
  }
  .item-6 {
    
    flex: 25%;
  }
  .item-7 {
    flex: 25%;
    
  }
  .item-8 {
    
    flex: 25%;
  }
}
